@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Poppins&display=swap');

body{
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-size: 1.5rem;
    background: #8b4411;
    line-height: 5rem;
    overflow-x: hidden;
}

a{
    font-weight: bold;
    text-decoration: none;
    color: #f5f5dd;
}

a:hover{
    
}

.container{
    height: 100%;
    max-width: 1500px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav{
    position: absolute;
    height: 100px;
    width: 100%;
    top: 0;  
}

nav .container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav img{
    height: 110px;
}

nav .container ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    border-bottom: 2px solid #a57a5a;
    box-shadow: 0px 2px #cc9767;;
}

nav .container ul li{
    padding: 0px 15px;
}


header{
    height: 400px;
    padding-top: 300px;
    padding-bottom: 300px;
}

header .container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

header img{
    height:350px;
    border-radius: 100px;
}

header h1{
    max-width: 30vw;
    font-weight: bolder;
    font-size: 7rem;
}

header h2{
    padding-left: 100px;
    max-width: 60vw;
    font-weight: bold;
    font-size: 3rem;
}

header .box{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


section{
    height: 500px;
    margin-top: 2px;
    background: #a57a5a;
}


section .container{
    flex-direction: column;
}

section h1{
    font-weight: bolder;
    padding-top: 10px;
    margin: 0;
}

section .inner-container{
    display: flex;
}

section h3{
    margin: 0;
}

section .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.softskills .box{
    font-weight: bolder;
    min-width: 20vw;
    padding: 0;
    margin: 0;
}

.softskills .box img{
    height: 200px;
}

.hardskills .box{
    width: 20vw;
}

.hardskills .logo{
    height: 200px;
}

.hardskills .level{
    padding-top: 10px;
    height: 60px;
}



.color1{
    background: #8b4411;
}

.color2{
    background: #ae6e4e;
}

.color3{
    background: #cc9767;
}

.color4{
    background: #f5f5dd;
}

.color5{
    background: #c7ad7f;
}

.color6{
    background: #a57a5a;
}