*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    color: #333;
    font-size: 1.2rem;
    line-height: 1.5;
}

.container{
    height: 100%;
    margin: 0 auto;
    padding: 0 30px;
}

.navbar{
    height: 80px;
    width: 100%;
    background: #333;
    position: fixed;
}

.navbar .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar h1{
    font-size: 2.5rem;
    color: #f3ab10;
}

.navbar ul{
    display: flex;
    text-decoration: none;
    list-style: none;
}

.navbar ul li{
    padding: 0 15px;
}

.navbar a{
    text-decoration: none;
    font-size: 1.5rem;
    color: rgb(184, 12, 12);
}

.navbar a:hover{
    color: #e97e0c;
}


.header{
    height: 900px;
    background: url(../images/cofee\ gelo.png);
    background-size: 100%;
    background-position: fixed;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-origin: left;
}

.header .container{
    height: 100%;
}

.header .ads{
    
    top: 90%;
    left: 50%;
    width: 300px;
    transform: translate(-50%, -50%);
    border: 1px solid #666;
    position: fixed;
}

.introduction{
    color: #1a1209
}

.introduction .container{
    padding: 20px 20px;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
}

.introduction h1{
    font-size: 3rem;
}

.filler{
    height: 1400px;
}