*{
    margin:0;
    overflow:hidden;
}

body{
    height: 100vh;
    width: 100vw;
    background: linear-gradient(180deg, #333, #000);

}

.images{
    display: flex;

    justify-content: center;
    gap: 3vmin;
}

.images button{
    border-radius: 10px;
    width: 30vmin;
    height: 30vmin;
    position: absolute;
    border: transparent;
    top: 35%;
    padding: 0;
}

.images img{
    
    width: 30vmin;
    height: 30vmin;
    object-fit: cover;
    object-position: center;
    box-shadow: rgba(5, 5, 5, 0.24) 0px 3px 8px;
    border-radius: 10px;
}


.img1{
    transform: translate(-30%, 3%) rotate(10deg);
    transform: translate
}

.img3{
    transform: translate(30%, -3%) rotate(-10deg);
}


.style1{
    background: linear-gradient(180deg, #333, #000);
}

.style2{
    background: linear-gradient(180deg, #99560e, #ffffff);
}

.style3{
    background: linear-gradient(180deg, #a69253, #ebc51c);
}

.style4{
    background: linear-gradient(180deg, #4c706a, #14e3c1);
}